<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
            http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>XMLDataFileLocation</param-name>
        <!--<param-value>file:///C:/temp/employee.xml</param-value>-->
        <param-value>file:////tmp/employee.xml</param-value>
    </context-param>

    <context-param>
        <param-name>JsonDataFileLocation</param-name>
        <!--<param-value>file:///C:/temp/employee.json</param-value>-->
        <param-value>file:////tmp/employee.json</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>ru.otus.gwt.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/welcome/LoginService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsideService</servlet-name>
        <servlet-class>ru.otus.gwt.server.InsideServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsideService</servlet-name>
        <!--suppress GwtServiceNotRegistered -->
        <url-pattern>/inside/InsideService</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>My PostgreSQL Datasource</description>
        <res-ref-name>jdbc/PostgresMyDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- SECURITY -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbc-realm</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/signin.jsp</form-login-page>
            <form-error-page>/WEB-INF/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description/>
        <role-name>users</role-name>
    </security-role>

    <security-constraint>
        <display-name>Restricted GET To Employees</display-name>
        <web-resource-collection>
            <web-resource-name>Restricted Access</web-resource-name>
            <url-pattern>/inside.jsp</url-pattern>
            <url-pattern>/inside/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>users</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
