<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <File name="org.hibernate.validator.util.Version" fileName="logs/hibernate.validator.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="ru.otus.gwt.server" fileName="logs/ru.otus.gwt.server.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="ru.otus.web" fileName="logs/ru.otus.web.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="ru.otus.servlets" fileName="logs/ru.otus.servlets.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ru.otus.web.MarshalXMLServlet" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ru.otus.servlets" level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ru.otus.servlets"/>
        </Logger>
        <Logger name="org.hibernate.validator.util.Version" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ru.otus.gwt.server" level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ru.otus.gwt.server"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
